@font-face {
  font-family: 'font.ttf';
  src: url('./fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0a4b73;
  color: black;
  font-family: 'font.ttf', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

/* Topo do site */

.topo {
  background-color: #3bacd9;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  min-height: 150px;
  margin-bottom: 10px;
  font-size: 18px;
}

.logo {
  background-color: #2484bf;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 5px;
  padding: 10;
}
.img {
  max-width: 200px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 14px;
}

.menu a {
  color: white;
  background-color: #2484bf;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.5;
}
/* meio */

.textos{
    background-color: #2484bf;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    align-items: center;
    padding: 50px;
    justify-content: center;
    
}

.textos h1{
    line-height: 1.2;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 2%;
    text-align: center;
    font-size: 18px;
}

.textos li{
    font-size: 1.2em;
    color:  #4b5563;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 14px;
}

.textos p{
    color:  #4b5563;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 14px;
}

/* acabando */

.sobre-nos{
    margin-top: 50px;
    background-color: #2484bf;
    color: white;
    padding: 45px ;
}

.sobre-grid{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.sobre-nos h2{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-bottom: 15px;
    justify-items: center;
    text-align: center;
    font-size: 18px;
}

.sobre-nos p{
    color: rgb(98, 95, 95);
    margin: 10px;
    font-size: 14px;
}
/*  */
.grid-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

/* BLOCO ESQUERDA (VIDEO) */
.video {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 8px;
}

.video h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}

.video img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

/* LATERAL DIREITA */
.lateral {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* REDES */
.redes h2 {
  text-align: center;
  color: #666;
}

.icones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  margin-top: 15px;
}

.icones img {
  width: 55px;
  cursor: pointer;
}

/* DIVISÓRIA */
.lateral hr {
  margin: 20px 0;
  border: 1px solid #aaa;
}

/* LOGIN */
.login h2 {
  text-align: center;
  color: #666;
}

.cadastro {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.cadastro a {
  color: #2a7abf;
}

/* INPUTS */
.login input {
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #2a7abf;
  color: white;
  outline: none;
}

.login input::placeholder {
  color: white;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 8px;
}

/* BOTÃO */
.btn-login {
  width: 50%;
  margin: 15px auto 0;
  display: block;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #3ec13e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}